.overlay {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.dropdown {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 6rem 0;
}

.dropdown__container {
  position: relative;
}

.searchbar {
  border-radius: 1rem;
  background: #f2f2f2;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  margin: 0 6rem;
  gap: 2px;
  margin-bottom: 2.625rem;
}

.searchbar input {
  border-radius: 1rem;
  outline: none;
  border: none;
  width: 100%;
}

.searchbar__input {
  padding: 0.75rem 1rem;
  background-color: #fff;
}

.searchbar__input label {
  display: block;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 4px;
}

.searchbar__input:first-child {
  width: 60%;
}
.searchbar__input:nth-child(2) {
  width: 30%;
}

.searchbar__input input::placeholder {
  font-size: 14px;
}

.searchbar__btn {
  border: none;
  background-color: #fff;
  padding: 0 1rem;
  color: #eb5757;
  display: flex;
  align-items: center;
}

.searchbar__btn > span {
  transition: transform 50ms 50ms;
}

.searchbar__btn:hover {
  background-color: #eb5757;
  color: #fff;
}

.searchbar__btn:active .searchbar__btn__icon,
.searchbar__btn:active > span {
  transform: scale(1.2);
}

.searchbar__btn__icon {
  transition: transform 50ms 50ms;
  padding-right: 0.75rem;
  width: 17px;
  fill: currentColor;
}

.resultsList {
  list-style: none;
  margin: 0 6rem;
  padding: 0;
}

.resultsList_icon {
  padding-right: 0.625rem;
}

.resultsList > li {
  padding-bottom: 2.25rem;
}

.resultsList > li:last-child {
  padding: 0;
}

@media (max-width: 550px) {
  .dropdown {
    padding: 1.5rem 0;
  }

  .dropdown__container {
    max-width: 350px;
    margin: 0 auto;
  }

  .resultsList {
    margin: 0 auto;
    margin-bottom: 11.25rem;
  }

  .searchbar {
    margin: 0 auto;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .searchbar__input:first-child,
  .searchbar__input:nth-child(2) {
    width: 90%;
  }

  .desktop_only {
    display: none;
  }

  .searchbar__btn {
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;

    color: #fff;
    background-color: #eb5757;
    margin: 0 auto;
  }
}

@media (min-width: 550px) {
  .mobile_only {
    display: none;
  }
}
